#reader-card {
    & .info-wrapper {
        .stamps {
            margin-top: 16px;

            >div {
                height: 36px;
                display: flex;
                align-items: center;
            }
        }
    }
}

.stamp {
    /* -webkit-mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png'); */
    -webkit-mask-size: 944px 604px;
    -moz-mask-size: 944px 604px;
    -ms-mask-size: 944px 604px;
    mask-size: 944px 604px;

    -webkit-mask-image:  url('https://nilantdev.github.io/babelib/img/grunge.png');
    -moz-mask-image:  url('https://nilantdev.github.io/babelib/img/grunge.png');
    -ms-mask-image:  url('https://nilantdev.github.io/babelib/img/grunge.png');
    mask-image:  url('https://nilantdev.github.io/babelib/img/grunge.png');

    display: inline-block;
    font-family: 'Courier';
    mix-blend-mode: multiply;
    text-transform: uppercase;
    transform: rotate(12deg);

    &.achive,
    &.result {
        border-radius: 1rem;
        border: 0.25rem solid #555;
        font-weight: 700;
        padding: 0.25rem 1rem;
    }

    &.achive {
        color: #555;
        font-size: 16px;
        height: 50px;
        height: fit-content;
        margin: auto;
        text-align: center;
        width: fit-content;
    }

    &.result {
        bottom: 58px;
        max-width: 230px;
        position: absolute;
        right: 10px;
        font-size: 3rem;

        &.won {
            color: green;
            border-color: green;
        }

        &.failed {
            color: red;
        }
    }

    &.date {
        transform: rotate(0deg);
        margin: 0 2px;
        /* padding: 0; */
        font-weight: 900;
        font-family: 'Typewriter';
    }
}

.stamps {
    display: grid !important;
    height: fit-content;
    min-height: 270px;
}