@font-face {
    font-family: 'icomoon';
    src: url(fonts/icomoon.woff);
}

.menu .left-menu,
.menu .title,
.menu .right-menu {
    width: 33%;
}

.menu .left-menu {
    text-align: left;
}

.menu .right-menu {
    text-align: right;
}

.menu {
    font-family: 'icomoon';
    display: flex;
}

.menu,
.menu div {
    margin: 0;
}

.menu #info::before,
.menu #settings::before,
.menu #faq::before {
    color: grey;
}

.menu #info::before {
    content: '\e901';
}
.menu #settings::before {
    content: '\e900';
}
.menu #faq::before {
    content: '\e902';
}

.letter {
    margin: 5px;
    border: solid black 1px;
    padding: 5px;
    display: inline-block;
}

.letter-wrapper {
    width: 75%;
    margin: auto;
}

.letter.guessed {
    background-color: grey;
}

div {
    margin-bottom: 20px;
}

.lywole {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

.main-wrapper {
    width: 30%;
    margin: auto;
    text-align: center;
}

.attempt.succes {
    background-color: green;
}
.attempt.failed {
    background-color: red;
}

/*
 Desktop
*/
@media screen and (min-device-width: 481px) {
    #song::before {
        content: ' - ';
    }
}

/* 
 Mobile
*/

@media only screen and (max-device-width: 480px) {
    .main-wrapper {
        width: 100%;
        font-size: 50px;
    }

    .letter-wrapper {
        width: 65%;
        margin: auto;
    }

    .input-actions {
        margin: 40px auto;
    }

    #word {
        width: 90%;
        height: 60px;
        font-size: 50px;
        border: solid;
    }

    .actions button {
        font-size: 40px;
    }

    .info {
        display: flex;
        justify-content: center;
    }
    .title {
        display: grid;
    }
}