:root {
    --dark-mode-color: rgb(248, 250, 252);
}
@font-face {
    font-family: 'icomoon';
    src: url(fonts/icomoon.woff);
}

body.dark-mode {
    background-color: #1E1F23;
    color: var(--dark-mode-color);
}

body.dark-mode .menu #info::before,
body.dark-mode .menu #settings::before,
body.dark-mode .menu #faq::before {
    color: var(--dark-mode-color);  
}

body.dark-mode .letter {
    border: solid var(--dark-mode-color) 1px;
}

body.dark-mode a {
    color: beige;
}

body.sport-mode #score-wrapper {
    display: block;
}

body.sport-mode .attempt-wrapper .points {
    display: inline;
}

#score-wrapper,
.attempt-wrapper .points {
    display: none;
}

body.dark-mode .message-wrapper {
    background-color: #1E1F23;
}

.message-wrapper {
    background: white;
    border: solid 1px grey;
    display: none;
    padding: 5px 0;
    position: sticky;
    top: 0;
}

.menu .left-menu,
.menu .title,
.menu .right-menu {
    width: 33%;
}

.menu .left-menu a,
.menu .right-menu a{
    text-decoration: none;
}

.menu .left-menu {
    padding-left: 20px;
    text-align: left;
}

.menu .right-menu {
    padding-right: 20px;
    text-align: right;
}

.menu {
    font-family: 'icomoon';
    display: flex;
}

.menu,
.menu div {
    margin: 0;
}

.menu #info::before,
.menu #settings::before,
.menu #faq::before {
    color: black;
}

.menu #info::before {
    content: '\e901';
}
.menu #settings::before {
    content: '\e900';
    /* color: grey; */
}
.menu #faq::before {
    content: '\e902';
}

.letter {
    margin: 5px;
    border: solid black 1px;
    padding: 5px;
    display: inline-block;
}

.letter-wrapper {
    width: 75%;
    margin: auto;
}

.letter.guessed {
    background-color: grey;
}

div {
    margin-bottom: 20px;
}

.lywole {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

.main-wrapper {
    width: 30%;
    margin: auto;
    text-align: center;
}

.actions {
    margin-top: 10px;
}


#leftLetters {
    text-align: left;
    margin-left: 23%;
}


/*
Attempts
*/

.attempt-wrapper {
    width: 33%;
    text-align: left;
    float: left;
}

.attempt {
    padding: 0 3px;
}

.attempt.succes {
    color: black;
    background-color: rgb(145, 230, 145);
}
.attempt.failed {
    background-color: rgb(207, 110, 110);
}

.bold {
    font-weight: 700;
}

/*
 Info
*/
.info-wrapper {
    text-align: justify;
}

.info-wrapper h1 {
    margin-bottom: 20px;
    text-align: center;
}

.info-hint {
    background: beige;
    border: solid 1px;
    position: absolute;
    margin-left: 14px;
}

.info-hint::before {
    content: '< ';
}

/*
 Desktop
*/
@media screen and (min-device-width: 481px) {
    #artist::after {
        content: ' - ';
    }

    .mobile {
        display: none;
    }
}

/* 
 Mobile
*/

@media only screen and (max-device-width: 480px) {
    .desktop {
        display: none;
    }

    .menu {
        margin-top: 30px;
    }

    .main-wrapper {
        width: 100%;
        font-size: 50px;
    }

    .letter-wrapper {
        width: 65%;
        margin: auto;
    }

    .input-actions {
        margin: 40px auto;
    }

    #word {
        width: 90%;
        height: 60px;
        font-size: 50px;
        border: solid;
    }

    .actions button {
        font-size: 45px;
    }

    .info {
        display: flex;
        justify-content: center;
    }

    .info-wrapper .collapsible {
        font-size: 50px;
    }

    .title {
        display: grid;
        text-align: justify;
        margin-left: 25px;
    }

    .attempt-wrapper {
        width: 50%;
    }

    #leftLetters {
        margin-left: 5%;
    }

    input[type="checkbox"] {
        width: 30px;
        height: 30px;
    }
}