:root {
    --dark-mode-color: rgb(248, 250, 252);
}

@font-face {
    font-family: 'icomoon';
    src: url(fonts/icomoon.woff);
}

/* Common */

body {

    /* DARK MODE */
    &.dark-mode {
        background-color: #1E1F23;
        color: var(--dark-mode-color);

        .menu {

            #info::before,
            #settings::before,
            #faq::before {
                color: var(--dark-mode-color);
            }

            .modes {
                background: #1E1F23;
                border: 1px solid var(--dark-mode-color);
            }
        }

    }

    .letter {
        border: solid var(--dark-mode-color) 1px;
    }

    a {
        color: beige;
    }

    #word {
        background: black;
        border: solid 1px white;
        color: white;
        padding: 15px;
        text-align: center;
    }

    .message-wrapper {
        background-color: #1E1F23;
    }

    /*============= GAME MODES =============*/

    &.just_play {
        .actions #checkWord {
            display: none;
        }

        #lyrics {
            display: none;
        }
    }

    &.sport_mode {
        #score-wrapper {
            display: block;
        }

        .attempt-wrapper .points {
            display: inline;
        }

        #lyrics {
            display: none;
        }
    }

    &.a_to_z {
        #asked-letter-wrapper {
            display: block;
        }

        #lyrics {
            display: none;
        }
    }

    &.word_by_word {
        #attempts {
            display: none;
        }
    }
}


.hidden {
    display: none !important;
}

.info-wrapper {

    .example-wrapper {
        border: 1px solid;
        text-align: center;
    }
}


.info {
    #cover {
        width: 200px;
    }
}

#score-wrapper,
.attempt-wrapper .points,
#asked-letter-wrapper {
    display: none;
}


.message-wrapper {
    background: white;
    border: solid 1px grey;
    display: none;
    padding: 5px 0;
    position: sticky;
    top: 0;
}

.menu {
    display: flex;
    font-family: 'icomoon';
    margin: auto;
    width: 30%;

    .left-menu,
    .title,
    .right-menu {
        width: 33%;
    }

    .title {
        text-decoration: underline;

        span {
            margin: auto;
        }
    }

    .left-menu {
        padding-left: 20px;
        text-align: left;
    }

    .right-menu {
        padding-right: 20px;
        text-align: right;
    }

    div {
        margin: 0;
    }

    #info::before,
    #settings::before,
    #faq::before {
        color: black;
    }

    #info::before {
        content: '\e901';
    }

    #settings::before {
        content: '\e900';
    }

    #faq::before {
        content: '\e902';
    }

    #theme-selector::before {
        content: '\e9d5';
    }


    #replay {
        margin-left: 10px;
    }

    #replay::before {
        content: '\ea2e';
    }

    span {
        cursor: pointer;
    }

    .modes-wrapper {
        .modes {
            background: var(--dark-mode-color);
            border: 1px solid #1E1F23;
            display: grid;
            left: 32px;
            position: absolute;
            top: 0;
            width: max-content;
            z-index: 100;
        }
    }
}

.letter {
    margin: 5px;
    border: solid black 1px;
    padding: 5px;
    display: inline-block;
}

.letter-wrapper {
    width: 75%;
    margin: auto;
}

.letter.guessed {
    background-color: grey;
}

div {
    margin-bottom: 20px;
}

.lywole {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

.main-wrapper {
    width: 30%;
    margin: auto;
    text-align: center;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    #checkWord {
        margin: 0 auto;
    }

    #giveUp {
        margin-right: auto;
    }

    #getHint {
        margin-left: auto;
    }
}

.share,
.share-note {
    display: none;
}

#leftLetters {
    display: none;
    text-align: left;
    margin-left: 23%;
}



.slick-slide {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

/*
Attempts
*/

.attempt-wrapper {
    width: 33%;
    text-align: left;
    float: left;
}

.attempt {
    padding: 0 3px;
}

.attempt.succes {
    color: black;
    background-color: rgb(145, 230, 145);
}

.attempt.failed {
    background-color: rgb(207, 110, 110);
}

.bold {
    font-weight: 700;
}

/*
 Info
*/
.info-wrapper {
    text-align: justify;
}

.info-wrapper h1 {
    margin-bottom: 20px;
    text-align: center;
}

.info-hint {
    background: beige;
    border: solid 1px;
    position: absolute;
    margin-left: 14px;
}

.info-hint::before {
    content: '< ';
}

/*
 Desktop
*/
@media screen and (min-device-width: 481px) {
    #artist::after {
        content: ' - ';
    }

    .mobile {
        display: none;
    }

    .info {
        #cover {
            margin: auto;
        }
    }
}

/* 
 Mobile
*/

@media only screen and (max-device-width: 480px) {
    .desktop {
        display: none;
    }

    .menu {
        margin-top: 30px;
        width: 100%;
        font-size: 50px;

        #theme-selector {
            margin-right: 15px;
        }

        .modes-wrapper {
            .modes {
                width: 345px;
                left: 70px;
            }
        }
    }

    .main-wrapper {
        width: 100%;
        font-size: 50px;
    }

    .letter-wrapper {
        width: 90%;
        margin: auto;
        font-size: 65px;

        .letter {
            padding: 10px;
        }
    }

    .input-actions {
        margin: 40px auto;
    }

    #word {
        width: 90%;
        height: 60px;
        font-size: 50px;
        border: solid;
    }

    button {
        font-size: 45px;
    }

    .info {
        display: flex;
        justify-content: center;
    }

    .info-wrapper .collapsible {
        font-size: 50px;
    }

    .title {
        display: grid;
        text-align: justify;
        margin-left: 25px;
    }

    .attempt-wrapper {
        width: 50%;
    }

    #leftLetters {
        margin-left: 5%;
    }

    input[type="checkbox"],
    input[type="radio"] {
        width: 30px;
        height: 30px;
    }
}