<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вавиленская библиотеки</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/custom/localStorage.js"></script>
    <script src="js/custom/date.js"></script>
    <script src="js/custom/const.js"></script>
    <link rel="stylesheet" href="css/card.css">
</head>

<body>
    <div id="app">
        <header>
            <a class="header-link" href="formular.html">Формуляр</a>
            <a class="header-link" href="new.html">Играть</a>
            <a class="header-link" href="info.html">Правила</a>
        </header>
        <div class="page-wrapper formular">

            <div id="reader-card" class="card reader active">
                <div class="title-wrapper">
                    <h2 class="card-title">Формуляр</h2>
                </div>
                <div class="text">
                    <div class="info-wrapper">
                        <div class="firstname">
                            <span class="attribute" @click="focusInput('first')">Имя</span>
                            <input class="name first" ref="firstInput" v-model="firstName"
                                @input="saveToLocalStorage('firstName', firstName)" />
                        </div>
                        <div class="lastname">
                            <span class="attribute" @click="focusInput('last')">Фамилия</span>
                            <input class="name last" ref="lastInput" v-model="lastName"
                                @input="saveToLocalStorage('lastName', lastName)" />
                        </div>
                        <div class="stamps">
                            <div v-for="(achieve, code) in achieves" v-show="showStamp(code)">
                                <span class="date stamp" v-text="achieve.date"></span>
                                <span class="stamp achive" v-text="stamps[code].title"
                                    :style="{'color': stamps[code].color, 'transform': stamps[code].transform, 'border-color': stamps[code].color}"></span>
                            </div>
                        </div>
                        <div class="sup">*Нажмите на Имя/Фамилия и начните ввод</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const { createApp } = Vue;

        createApp({
            data() {
                return {
                    firstName: '',
                    lastName: '',
                    stamps: {
                        'new': { title: 'добро пожаловать', transform: 'rotate(3deg)' },
                        'loyal1': { title: 'постояный читатель', transform: 'rotate(3deg)' },
                        'loyal3': { title: 'квартал', transform: 'rotate(2deg)' },
                        'loyal6': { title: 'вместе полгода', transform: 'rotate(-2deg)' },
                        'loyal12': { title: 'годовщина', transform: 'rotate(1deg)' },
                        'scifi': { title: 'фантастика!', color: 'blue', transform: 'rotate(2deg)' },
                        'detective': { title: 'нюх как у собаки', transform: 'rotate(-3deg)' },
                        'horror': { title: 'мастер ужасов', color: 'black', transform: 'rotate(-3deg)' },
                        'distop': { title: 'антиутопляемый', transform: 'rotate(0deg)', color: 'orange' },
                        'classic': { title: 'знaток классики', transform: 'rotate(-1deg)' },
                        'fantasy': { title: 'эльф 80-го уровня', transform: 'rotate(0deg)' },
                        'child': { title: 'чайлд-король', transform: 'rotate(0deg)' },
                        'drama': { title: 'Drama Queen', transform: 'rotate(0deg)' },
                    },
                    achieves: getValueFromLocalStorage('achieves')
                };
            },
            mounted() {
                this.firstName = getValueFromLocalStorage('firstName') || '';
                this.lastName = getValueFromLocalStorage('lastName') || '';
                if (!this.achieves) {
                    this.achieves = {
                        'new': {
                            'count': MAX_ACHIEVE_COUNT,
                            'date': getToday()
                        }
                    };
                    saveInLocalStorage('achieves', this.achieves);
                }
            },

            methods: {
                focusInput(type) {
                    if (type === 'first') {
                        this.$refs.firstInput.focus();
                    } else if (type === 'last') {
                        this.$refs.lastInput.focus();
                    }
                },
                saveToLocalStorage(key, value) {
                    saveInLocalStorage(key, value);
                },
                showStamp(code) {
                    // TODO TMP delete 
                    if (this.achieves['class']) {
                        delete this.achieves['class'];
                    }

                    return this.achieves[code] && this.achieves[code]['count'] >= MAX_ACHIEVE_COUNT;
                },
                getStampDate(code) {
                    return (this.achieves[code]) ? this.achieves[code]['date'] : '';
                }
            }
        }).mount('#app')
    </script>
</body>

</html>