<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вавиленская библиотеки</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/task/info.js"></script>
    <link rel="stylesheet" href="css/card.css">
</head>

<body>
    <div id="app">
        <div class="page-wrapper faq" style="">
            <header>
                <a class="header-link" href="formular.html">Формуляр</a>
                <a class="header-link" href="new.html">Играть</a>
                <a class="header-link" href="info.html">Правила</a>
            </header>
            <div v-for="(item, index) in infoData" class="card instruction"
                :style="{'right': getRight(index), 'z-index': item.zIndex, 'top': item.top}">
                <div class="title-wrapper">
                    <h2 class="card-title" v-text="item.title"></h2>
                </div>
                <div v-if="item.type === 'list'" class="text">
                    <ul>
                        <li v-for="line in item.content" v-text="line"></li>
                    </ul>
                </div>

                <div class="text" v-if="item.type === 'faq'" style="display: grid;">
                    <div v-for="htmlCode in item.content" v-html="htmlCode"></div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const { createApp } = Vue;

        createApp({
            data() {
                return {
                    infoData: getInfoData()
                }
            },
            methods: {
                getRight(index) {
                    return index % 2 == 0 ? 'none' : '0';
                },
            }
        }).mount('#app')
    </script>
    <style>
        .question {
            margin: 5px;
            font-weight: 700;
        }
    </style>
</body>

</html>