<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=480">
    <title>Вавиленская библиотеки</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/task/book.js"></script>
    <script src="js/task/list.js"></script>
    <script src="js/task/cardData.js"></script>
    <link rel="stylesheet" href="css/card.css">
    <script src="js/custom/date.js"></script>
    <script src="js/custom/const.js"></script>
    <script src="js/custom/stat.js"></script>
    <script src="js/custom/localStorage.js"></script>
    <!-- <script src="component/similar.js"></script> -->
    <script src="component/header.js"></script>
    <script src="component/chart.js"></script>
</head>

<body>
    <div id="app">
        <header-component></header-component>
        <div class="page-wrapper quotes">
            <div v-for="(data, index) in cards" class="card quote" :id="data.code"
                :class="{active : data.zIndex == 10, blocked: data.blocked}"
                :style="{'margin-left': getCardMarginLeft(index), 'z-index': data.zIndex}"
                @click="selectCard(index, $event)">
                <div class="info-wrapper">
                    <div v-for="(item, code) in headerData" :class="code">
                        <span class="attribute" v-text="item.label"></span>
                        <span class="value" v-text="code == 'isbn' ? isbn : task[code]" :title="task[code]"
                            v-show="item.canShow"></span>
                    </div>
                </div>
                <div class="title-wrapper">
                    <h2 class="card-title" v-text="data.title"></h2>
                </div>

                <p v-if="isQuote(data.code)" class="text" v-html="task[data.code]"></p>

                <div v-if="data.code == 'classifier'">
                    <table class="class-table">
                        <!-- <tr v-for="item in classifierData" :id="item.code"> -->
                        <tr v-for="(class_value, class_code) in task.classificatory" :id="class_code"
                            v-show="class_code !== 'genre_code'">
                            <td class="class-title" v-text="classifierData[class_code]"></td>
                            <td class="class-value" v-text="class_value"></td>
                        </tr>
                    </table>
                </div>

                <div v-if="data.code == 'similars_films'">
                    <h3>Похожие произведения:</h3>
                    <ul id="similars">
                        <li v-for="similar in task.similars" v-text="similar"></li>
                    </ul>
                    <h3>Экранизации:</h3>
                    <ul id="films">
                        <li v-for="film in task.films" v-text="film"></li>
                    </ul>
                </div>

                <span class="stamp result" :class="stampClass" v-if="data.showStamp" v-text="stampText"></span>

                <div class="sup" v-if="data.sup"><sup><span class="alt-card-label" v-text="data.sup"></span></sup></div>
                <div class="colontitile-wrapper"><span class="left" v-text="data.colontitle"></span><span class="right"
                        v-text="data.colontitle"></span></div>
            </div>
            <!-- ///////////////////////////////////// -->
            <div class="attempt-wrapper" v-show="canInput">
                <div class="attempt-list">
                    <ol>
                        <li v-for="attempt in attempts" v-text="attempt"></li>
                    </ol>
                </div>
                <div class='search-wrapper'>
                    <input type="text" id="myInput" v-model="searchLine"
                        placeholder="Начните вводить автора или книгу..." data-book-id="" style="font-size: 16px;">
                    <button type="button" @click="checkBook()">Выбрать</button>
                    <ul id="myUL">
                        <li v-for="data in list" :value="data.id" v-show="showSearchOption(data)"
                            v-text="getSearchOptionLabel(data)" @click="fillSearchInput(data)"></li>
                    </ul>
                </div>
            </div>

            <div class="share-wrapper" style="text-align: center;" v-show="!canInput">
                <button @click="copyResult()">Скопировать результат</button>
                <chart-component :charts="charts"> </chart-component>
            </div>
        </div>

        <!-- //////////////////////////////// -->

    </div>
    <script>
        const { createApp } = Vue;

        createApp({
            components: {
                'header-component': Header,
                'chart-component': Chart
            },
            data() {
                return {
                    task: {},
                    list: getBookList(),
                    cards: getCardData(),
                    headerData: {
                        'isbn': { 'label': 'ISBN', canShow: true },
                        'author': { 'label': 'Автор', canShow: false },
                        'title': { 'label': 'Название', canShow: false },
                        'year': { 'label': 'Год', canShow: false },
                        'translator': { 'label': 'Переводчик', canShow: false },
                    },
                    classifierData: {
                        'genre': 'Жанры / поджанры:',
                        'general': 'Общие хар-ки:',
                        'place': 'Место действия:',
                        'time': 'Время действия:',
                        'plot': 'Сюжетные ходы:',
                        'line': 'Линей ность:',
                        'age': 'Возраст читателя:',
                    },
                    attempts: ['', '', '', '', '', '',],
                    searchLine: '',
                    attemptId: 0,
                    canInput: true,
                    stampText: '',
                    stampClass: '',
                    status: STATUS_PLAYING,
                    played: getValueFromLocalStorage('played'),
                    charts: {}
                }
            },
            computed: {
                isbn() {
                    return this.task.weekNumber + '-' + this.task.fantlab_id;
                },
                taskId() {
                    const urlParams = new URLSearchParams(window.location.search);
                    let taskId = urlParams.get('taskId');

                    return taskId ? taskId : getDayOfYear();
                }
            },
            async mounted() {
                try {
                    this.task = await getTask(this.taskId);
                } catch (error) {
                    console.error('Ошибка при загрузке данных:', error);
                }

                if (this.played.includes(parseInt(this.taskId))) {
                    this.unblockAllCards();
                    this.canInput = false;
                    this.showAnswer();
                    this.charts = await getStatById(this.taskId);                    
                } else {
                    this.unblockAlreadyOpenCards();
                }

                if (!getLocalStorageItem(this.taskId)) {
                    saveInLocalStorage('attempts', this.attempts, this.taskId);
                };
            },
            methods: {
                addAttemptToList() {
                    for (const [index, element] of this.attempts.entries()) {
                        if (element == '') {
                            this.attempts[index] = this.searchLine;
                            break;
                        };
                    }
                },
                addStamp(isWon, activeCardId = null) {
                    this.stampText = isWon ? 'ДОБРО' : 'Отказать';
                    this.stampClass = isWon ? 'won' : 'failed';
                    if (!activeCardId) {
                        activeCardId = this.getCardIndex('zIndex', 10);
                    }
                    this.cards[activeCardId]['showStamp'] = true;
                },
                getCardMarginLeft(index) {
                    const value = 21 * index;
                    return value + 'px';
                },
                isQuote(code) {
                    return !['classifier', 'similars_films'].includes(code);
                },
                swipeCard(index, event) {
                    let newIndex = index;

                    const rect = event.currentTarget.getBoundingClientRect();
                    if (event.clientX - rect.left < 145) {
                        if (index == 0) return false;
                        while (newIndex > 0) {
                            newIndex--;
                            if (this.cards[newIndex].blocked == false) {
                                break;
                            }
                        }
                    } else {
                        if (index == 9) return false;
                        while (newIndex < 9) {
                            newIndex++;
                            if (this.cards[newIndex].blocked == false) {
                                break;
                            }
                        }
                    }

                    return newIndex;

                },
                selectCard(i, event) {
                    if (this.cards[i].zIndex == 10) {
                        i = this.swipeCard(i, event);

                        if (i === false) return;
                    }

                    let currentCard = this.cards[i];

                    if (currentCard.alternative) {
                        currentCard.blocked = false;
                        this.setAlternativeCards(false);
                        let secondCardCode = currentCard.code == 'line_last' ? 'lin_first' : 'line_last';
                        const secondCardIndex = this.getCardIndex('code', secondCardCode);
                        if (this.cards[secondCardIndex]) {
                            const quote6Index = this.getCardIndex('code', 'quote_6');
                            this.cards[quote6Index].sup = this.cards[quote6Index].sup + ' ' + this.cards[secondCardIndex].title;
                        }
                    }

                    if (currentCard.blocked) {
                        return false;
                    }

                    // getIndex of max zIndex
                    // const maxOldIndex = this.cards.findIndex(element => element.zIndex === 10);
                    // getIndex of max zIndex

                    currentCard.zIndex = 10;
                    let zIndex = 9;
                    for (let index = i + 1; index <= 9; index++) {
                        this.cards[index].zIndex = zIndex;
                        zIndex--;
                    }

                    zIndex = 9;
                    for (let index = i - 1; index >= 0; index--) {
                        this.cards[index].zIndex = zIndex;
                        zIndex--;
                    }
                },
                showSearchOption(data) {
                    const txtValue = this.getSearchOptionLabel(data);

                    return this.searchLine !== '' && txtValue.toLowerCase().indexOf(this.searchLine.toLowerCase()) > -1;
                },
                getSearchOptionLabel(data) {
                    return data.author + ' - ' + data.title;
                },
                fillSearchInput(data) {
                    this.searchLine = this.getSearchOptionLabel(data);
                    this.attemptId = data.id;
                },
                copyResult() {
                    let result = '';
                    result = result + '—Вавиленская библиотека—\n';
                    result = result + 'ISBN-' + this.isbn + '\n';

                    for (const [index, element] of this.attempts.entries()) {
                        if (index === 0)  {
                            continue;
                        }
                        if (element) {
                            result = result + '📕';
                        } else {
                            result = result + '📖';
                            break;
                        }
                    }

                    result = result + '\n\nhttps://nilantdev.github.io/\n';
                    result = result + '——————————————————';
                    navigator.clipboard.writeText(result);

                },

                checkBook() {
                    if (this.attempts.includes(this.searchLine)) {
                        return;
                    }

                    // if (this.attemptId == this.task.id) {
                    if (this.attemptId == this.task.fantlab_id) {
                        this.unblockAllCards();
                        this.addAttemptToList();
                        this.addStamp(true);
                        this.status = STATUS_WON;

                        this.finishGame(true);
                    } else {
                        if (this.attemptId == 0) {
                            return false;
                        }
                        this.addAttemptToList();
                        if (this.attempts[5] != '') {
                            this.finishGame(false)
                        }

                        let nextCardIndex = 0;
                        for (const [index, element] of this.cards.entries()) {
                            if (element.blocked == true) {
                                element.blocked = false;

                                nextCardIndex = index;
                                break;
                            };
                        }

                        this.selectCard(nextCardIndex);
                        this.searchLine = '';
                    }

                    saveInLocalStorage('attempts', this.attempts, this.task.weekNumber);
                },

                async finishGame(isWon) {
                    this.showAnswer();
                    this.canInput = false;
                    this.addIdToPlayed();

                    let step = 0;
                    if (isWon) {
                        for (const [index, element] of this.attempts.entries()) {
                            if (element !== '') {
                                step++;
                            }
                        };
                    }

                    this.charts = await updateStat(this.taskId, isWon, step);
                },

                setAlternativeCards(isAlternative) {
                    ['line_first', 'line_last'].forEach(value => {
                        const altCardIndex = this.getCardIndex('code', value);
                        this.cards[altCardIndex].alternative = isAlternative;
                    })
                },
                getCardIndex(key, value) {
                    return this.cards.findIndex(obj => obj[key] === value);
                },
                unblockAllCards() {
                    for (const [index, element] of this.cards.entries()) {
                        element.blocked = false;
                    }
                },
                unblockLastCards() {
                    const lastCardIndex = this.getCardIndex('blocked', true);
                    if (lastCardIndex > 0) {
                        this.cards[lastCardIndex].blocked = false;
                    }
                },
                unblockAlreadyOpenCards() {
                    if (getValueFromLocalStorage('attempts', this.task.weekNumber)) {
                        this.attempts = getValueFromLocalStorage('attempts', this.task.weekNumber);

                        for (const [index, element] of this.attempts.entries()) {
                            if (element != '') {
                                this.cards[index + 1].blocked = false;
                                this.selectCard(index + 1);
                            }
                        }
                    }
                },
                showAnswer() {
                    this.headerData.author.canShow = true;
                    this.headerData.title.canShow = true;
                    this.showAdditionalHeaderInfo();
                },
                showAdditionalHeaderInfo() {
                    this.headerData.year.canShow = true;
                    this.headerData.translator.canShow = true;
                },
                addIdToPlayed() {
                    if (!this.played) {
                        this.played = [];
                    }

                    this.played.push(parseInt(this.task.weekNumber));

                    saveInLocalStorage('played', this.played);
                },
                copyToClipboard() {
                    let result = '';
                    for (const [index, element] of this.attempts.entries()) {
                        if (element == '') {
                            result = result + '📖';
                            break;
                        } else {
                            result = result + '📙';
                        };
                    }
                    navigator.clipboard.writeText(result)
                        .then(() => {
                            alert("Text copied to clipboard!");
                        })
                        .catch(err => {
                            console.error("Failed to copy: ", err);
                        });
                },
            },
            watch: {
                // 0 quote_1
                'cards.1.blocked'(newValue, oldValue) {
                    this.showAdditionalHeaderInfo()
                },

                // 2 quote_3
                'cards.2.blocked'(newValue, oldValue) {
                    const addCardIndex = this.getCardIndex('code', this.cards[2].additional_card);
                    this.cards[addCardIndex].blocked = false;
                },
                // 3 quote_4
                'cards.3.blocked'(newValue, oldValue) {
                    const addCardIndex = this.getCardIndex('code', this.cards[3].additional_card);
                    this.cards[addCardIndex].blocked = false;
                },
                // 4 quote_5

                'cards.4.blocked'(newValue, oldValue) {
                    this.setAlternativeCards(true);
                },
                // 5 quote_6
                'cards.5.blocked'(newValue, oldValue) {
                    this.unblockLastCards();
                },

                'status'(newValue, oldValue) {
                    if (newValue == STATUS_WON) {
                        let achieves = getValueFromLocalStorage('achieves');
                        const genreCode = this.task.classificatory.genre_code;

                        if (achieves[genreCode]) {
                            achieves[genreCode]['count']++;
                            if (achieves[genreCode]['count'] > MAX_ACHIEVE_COUNT) {
                                achieves[genreCode]['date'] = getToday();
                            }
                        } else {
                            achieves[genreCode] = {
                                'count': 1,
                                'date': getToday(),
                            };

                        }

                        saveInLocalStorage('achieves', achieves);
                    }
                }
            },
        }).mount('#app')
    </script>
</body>

</html>